## Tuples, 2D Lists and Dictionaries Problem Set

Write code to complete the following problems.

#### Create a list of tuples containing 4 names(str) and salaries(float). Two of your examples should have salaries above 80000.

In [1]:
emps = [("Mike",40000.0),("Sarah",80000.0),("John",55000.0),("Tim",60000.0)]

#### Use a for loop and tuple unpacking to print out the above list.

In [2]:
for name, salary in emps:
    print(name, salary)

Mike 40000.0
Sarah 80000.0
John 55000.0
Tim 60000.0

#### Use a for loop and `enumerate()` to print out the list with label starting at 1. Use [] to access values in the tuples. For example:
1) Mike Smith 75000

2) Sarah Jones 80000

etc..

In [3]:
for index, value in enumerate(emps):
    name, salary = value
    print(index + 1, name, salary)

1 Mike 40000.0
2 Sarah 80000.0
3 John 55000.0
4 Tim 60000.0

#### Use a for loop and tuple unpacking to only print out the names and salaries of people who make at least 80000.

In [4]:
for name, salary in emps:
    if salary >= 80000:
        print(name, salary)

Sarah 80000.0

In [5]:
# average salary
s = 0
for name, salary in emps:
    s += salary
s/len(emps)

58750.0

In [6]:
# print the name of employee who makes the most money
n = emps[0][0]
max_sal = emps[0][1]

for name, salary in emps:
    if salary > max_sal:
        max_sal = salary
        n = name
print(n)

Sarah

#### Create a 2D list with 3 rows and 4 columns and fill it with any integer values. Include negative and positive values.

#### Use a nested loop to compute its sum.

#### Use a nested loop to compute its maximum value.

#### Use a nested loop with enumerate to change all of the values whose row index OR column index is even to zero.

#### Create a dictionary of shopping list whose keys are the items(str) and values are the quantity(int) of that item to buy. Your dictionary should have at least 4 items. For example "apple":5 means to buy 5 apples.

In [7]:
a = {"apple":5, "orange":6, "milk":1, "cereal":3}

In [8]:
print(a)

{'apple': 5, 'orange': 6, 'milk': 1, 'cereal': 3}

#### Add a new item to your dictionary not already on the list. Reprint the dictionary.

In [9]:
a['bananas'] = 4
print(a)

{'apple': 5, 'orange': 6, 'milk': 1, 'cereal': 3, 'bananas': 4}

#### Add 3 more quantity to any item in the dictionary. Reprint the dictionary.

In [10]:
a['apple'] += 3
print(a)

{'apple': 8, 'orange': 6, 'milk': 1, 'cereal': 3, 'bananas': 4}

#### Use a loop to count the total of quantity from your shopping list. DO NOT USE the method values().

In [11]:
total = 0
for x in a:
    total += a[x]
print(total)

22

#### Use a loop to count the total of quantity from your shopping list. USE the method values().

In [12]:
total = 0
for x in a.values():
    total += x
print(total)

22

#### Create a new empty list. Use for loop to add to the list only the item name but not the value from your shopping list. For example, ["apple", "cereal", "milk"].

In [13]:
lst = []
for x in a:
    lst.append(x)
print(lst)

['apple', 'orange', 'milk', 'cereal', 'bananas']

#### Create list of tuples of item and quantity of 3 items. At least one of the item should already be in the dictionary and another item should be a new item. Write code to update your dictionary with this new list. If an item is already in the dictionary, combine the quantities.

In [14]:
new_lst = [('ham',2), ('bread',3), ('apple',12)]
for item, quantity in new_lst:
    if item not in a:
        a[item] = quantity
    else:
        a[item] += quantity
print(a)

{'apple': 20, 'orange': 6, 'milk': 1, 'cereal': 3, 'bananas': 4, 'ham': 2, 'bread': 3}