# Introduction to Data Analysis with the pandas library

### In this lab, we'll use the pandas library to explore and perform some basic exploratory analysis on some tabular datasets: IMDB's Top 1000 movies, the Titanic dataset and an alcohol consumption dataset.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Use ```df = pd.read_csv(filename)``` to read in the dataset containing the top 1000 movies on IMDB("imdb_1000.csv"). The variable df here is a dataframe object.

#### Call the head() function on the dataset to see the first five rows of the dataset.

#### To access a column of a dataframe, we use the [] notation and specifying the column name as the index or "key" to the column. For example, output the title column: df["title"].

#### For categorical data like movies genre, the method value_counts() returns a column(Series) containing counts of unique values. Output to the value counts for the "genre" column to see which genre containing the highest count in the dataset.

#### Call value counts as above and immediately call plot(kind="bar) to plot the previous data as a bar graph.

#### Use .loc to search for movies whose rating is at least 8.5. Use:
```python
df.loc[boolean conditional filter]
```
#### where the boolean conditional filter is a boolean with the star_rating column satisfying >= 8.5.

#### Use ```df = pd.read_csv(filename)``` to read in the alcohol consumption data("drinks.csv") and store the dataframe.

#### Call head() on the dataframe to output the top five rows of the dataframe.

#### Call describe() on the dataframe to see some general descriptive statistics. Notice some of the outliers, e.g., compare the maximum to the median.

#### Which country drinks the most beer? spirits? wine?

Hint: Use ```df.sort_values(by="column_name", ascending=False)```

#### Which continent drinks the most beer? The least? Hint: Call groupby('continent') on the dataframe, then look at the mean of the "beer_servings" column. 

Hint: ```drinks.groupby('column_name_to_group')['column_to_mean'].mean()```

#### Use the plot(kind="bar") to plot the average beer consumption by continent. Same code as the previous cell but add the .plot(kind="bar") call.

#### Since Europe has the highest consumption, apply a filter to only consider countries in Europe and call sort_values on "beer_servings". Which are the top three countries in Europe with the highest beer consumption?
Hint: ```drinks.loc[boolean filter].sort_values(by='column_name', ascending=False)```